<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
</head>
<body style="font-family: Arial; text-align:center; margin-top:50px;">

<h1 th:text="${pais.nomeComum}"></h1>

<p><b>Nome oficial:</b> <span th:text="${pais.nomeOficial}"></span></p>
<p><b>Capital:</b> <span th:text="${pais.capital}"></span></p>
<p><b>Região:</b> <span th:text="${pais.regiao}"></span></p>
<p><b>População:</b> <span th:text="${pais.populacao}"></span></p>

<img th:src="${pais.bandeira}" width="200">

<br><br>
<a href="/">Voltar</a>

</body>
</html>